<!DOCTYPE html>
<html>

<head>
  <style>
    #body {
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-family: Times New Roman;
  font-size: 18px;
}

p.example {
  font-size: 15px;
}

#flags {
width: 90%;
padding: 10px;
font-size: 16px;
}
#sid {
width: 20em;
padding: 5px;
font-size: 16px;
}
</style>
</head>

<body>
  <div id="body">
    <h1>Inkbunny API 2 RSS</h1>
    <p>Converts Inkbunny Search API to a valid RSS feed</p>
    <input autocomplete="off" id="sid" placeholder="Session ID (SID)" type="text" onkeyup="urlupdate()"><br>
    <input autocomplete="off" id="flags" placeholder="Flags (Seperate flags with &)" type="text" onkeyup="urlupdate()">
    <p>
      Refer to <a href="https://wiki.inkbunny.net/wiki/API#Search">Inkbunny Search API</a> under <b>Search Condition Parameters</b> for information on available flags.<br>
          Please note that <code>keywords=yes</code> will always be on unless specified otherwise!
    </p>
    <fieldset>
    <legend id="exampleslegend" onclick="egtoggle()">Examples (click to show)</legend>
    <div id="examples" style="display:none">
      <ul>
        <li><code>text=furry&title=yes</code><br>
      Returns search results for Text search for "furry" in Keywords and Title.</li>
      <li>SID specified, No flags specified<br>
      Returns all latest submissions to IB.</li>
      <li><code>username=Inkbunny</code><br>
      Returns submissions by Inkbunny.</li>
      <li><code>favs_user_id=00001</code><br>
      Returns submissions favourited by Inkbunny</li>
      <li><code>pool_id=0001</code><br>
        Returns submissions from that pool.</li>
    </ul>
IDs can be retrieved from the URL by accessing the main site.
</div>
  </fieldset>
    <p><b>Session ID</b> can be obtained by ticking the "Enable API Access" box in your IB account settings and copying the SID <b>in incognito mode</b> from <code>https://inkbunny.net/api_login.php?username=myusername&password=mypassword</code>, replacing
      your username and password with your IB account details.<br>
      The SID in the quotes can be used here.
      <dl id="link" style="display:none">
      <dt>RSS Link</dt>
      <dd><a href="" id="iburl"></a></dd>
      </dl>

  </div>
  <script>
    function urlupdate() {
      var sid = document.getElementById("sid").value;
      var flags = document.getElementById("flags").value;
      //var url = "https://inkbunny.net/api_search.php?sid=" + sid + "&" + flags
      var url = "https://localhost/search?sid=" + sid + "&" + flags
      document.getElementById("iburl").setAttribute("href",url);
      document.getElementById("iburl").innerHTML = url;

      if (sid !== ""){
      document.getElementById("link").setAttribute("style", "")}
      else {document.getElementById("link").setAttribute("style", "display:none")};
    }

    function egtoggle(){
      var examplesdiv = document.getElementById("examples");
      if (examplesdiv.getAttribute("style") === "display:none") {
        document.getElementById("exampleslegend").innerHTML = "Examples (click to hide)";
        examplesdiv.setAttribute("style", "");
      } else {
        document.getElementById("exampleslegend").innerHTML = "Examples (click to show)";
        examplesdiv.setAttribute("style", "display:none");
      }

    }
  </script>
</body>

</html>
